

.cardwindow{
    background: white;
    margin: 10px;
}


.cardwindownav {
    border-left: 5px black solid;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardwindowtitle{
    font-weight: 900;

}

.cardwindowbody {
  overflow: hidden;
}
.cardwindowbody.close{
    height: 0px;
}
.row{
    display: flex;
    width: 100%;
}