

.row{
    display: flex;
    width: 100%;
}


.popularpost{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;

    border-bottom: 1px var(--foreground) solid;
    
    
}
.popularpost:hover{
    background: var(--foreground);
}

.popularpostrank{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    opacity: 0.2;
    border-radius: 10px;
    font-weight: bolder;
    color: var(--text);
}

.rank-1{
    opacity: 1;
    background: #ffd700;
}
.rank-2{
    opacity: 1;
    background: #c0c0c0;
}
.rank-3{
    opacity: 1;
    background: #CD7f32;
}

.popularposttitle{
    flex: 1;
    /* width: 100px; */
    /* align-items: center; */
    
    display: inline;
    align-items: center;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
    

}

.popularpostcount{
    font-size: smaller;
    color: var(--text);
}

.form {
  display:flex;
}
.formgroup{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.formgroup > span{
    font-size: small;
    font-weight: 800;
    /* margin-right: 20px; */
}

.inp {
  padding-top:3px;
  padding-bottom:3px;
  border-radius: 5px;
  /* background: rgb(223, 223, 223); */
  /* border: none; */
  border: 1px var(--secondary) solid;
  color: var(--text);
  background: var(--foreground);
}

.btn{
    background: rgb(0, 128, 85);
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}