
.cardwindow{
    background: var(--background);
    margin: 10px;
    color: var(--text);
    border-radius: 10px;
    overflow: hidden;
}


.cardwindownav {
    border-left: 5px var(--accent-color) solid;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cardwindowtitle{
    font-weight: 900;
    /* font-size: larger; */

}

.cardwindowbody {
  overflow: hidden;
}
.cardwindowbody.close{
    height: 0px;
}