
.sidebar {
  width:200px;
  height: 100vh;
  background: var(--background);
  overflow-y: auto;
  overflow-x: hidden;
  transition: width ease-in-out 0.3s;
  /* position: sticky; */
}
.sidebar::-webkit-scrollbar {
    display: none;
  }
.sidebar.off{
    width: 80px;
}

.sidebarlogo{
    display: flex;
    align-items: center;
    /* padding: 30px; */
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    /* position: absolute; */
}
.sidebarlogo.off{
    justify-content: center;
    margin: 0;
    padding: 20px;

}
.sidebarlogo >svg{
    /* width: 100px; */
    min-height: 30px;
}

.sidebarlogo > span{
    font-size: x-large;
    font-weight: bolder;
    margin-left: 10px;
    color: var(--accent-color);
}

.sidebarlogo.off > span{
    display: none;
}


.sidebarcotainer {
  padding-right : 20px;
  padding-left : 20px;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */

  box-sizing: border-box; 
}

.sidebarcotainer.min {
    padding: 5px;
}

.sidebarcotainer.min.active {
    padding-left: 0px;
}

.sidebarcotainer.active{
    border-left: 5px var(--accent-color) solid;
    padding-left : 15px;
    
}



.sidebarbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebarbutton.min {
    justify-content: center;
}

.sidebarbutton:hover{
    background-color: var(--foreground)
}
.sidebartextlogo{
    display: flex;
    align-items: center;
    color: var(--text);
}
.sidebartextlogo > span{
    margin-left: 10px;
    font-weight: 700;
    font-size: small
}

.sidebartextlogo > svg{
    width: 30px;
}
.sidebaritem{
    display: flex;
    flex-direction: column;
}
.sidebarchild{
    overflow: hidden;
    background-color: var(--background);;
}

.sidebarchild.min{
    position: absolute;
    left: 80px;
    z-index: 10;
}

.sidebarchild.close{
    max-height: 0px;
}

.sidebarspan{
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    color: var(--text);
    display: flex;
    

}

.sidebarspan.min{
    display: none;
}

.sidebarxbutton{
    height: 40px;
    background-color: var(--foreground);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    /* position: fixed; */
}

.sidebarxbutton > span{
    width: 50%;
    height: 3px;
    background: var(--accent-color);
    border-radius: 5px;
    position: absolute;
    margin-right: 2px;
    margin-left: 2px;
    transition: all ease-in-out 0.2s;
    z-index: 100;

}

.x1 {
  transform : translateY(-6px)
}
.x3 {
  transform : translateY(6px)
}

.sidebarxbutton.off > .x1{
    transform: rotate(45deg);
}
.sidebarxbutton.off > .x2{
    opacity: 0;
}
.sidebarxbutton.off > .x3{
    transform: rotate(-45deg);
}
