.contain{
    width: 100%;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* background: pink; */
    
}


.content{
    box-sizing: border-box;
    flex: 1;
    overflow-x: auto;
    background: var(--foreground);
    position: relative;
    /* padding: 30px; */
}

.content > .main {
    /* margin-top: 70px; */
    margin: 10px;
}


.navbar {
    position: sticky;
    background:var(--foreground);
    right: 0;
    left: 0;
    z-index: 10;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar > div{
    display: flex;
    align-items: center;
}

.navtool > *{
    margin-left: 20px;
}

.navbartitle{
    font-weight: bolder;
    margin-left: 20px;
    font-size: large;
    color: var(--text);
}

.profile{
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile > img{
    width: 100%;

}
.profilebody{
    position: relative;
}

.profiledrop{
    position: absolute;
    background-color: var(--background);
    right: 10px;
    top:60px;
    box-shadow: 5px;
    overflow: hidden;
    max-height: 200px;
    transition: all ease-in-out 0.2s;

}

.profiledrop.hide{
    max-height: 0px;
}

.switchbutton{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: var(--text);
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 0.1s;
}
.switchbutton > .circle {
  width:30px;
  height: 30px;
  background: var(--background);
  border-radius: 30px;
  transform: scale(0.9);
  position: absolute;
  /* right: 0; */
  left: 0%;
  transition: all ease-in-out 0.1s;
  
}

.switchbutton.on > .circle{
    left: 50%;
}